.header {
  background: #FFFFFF;
}

.container_header {
  max-width: 1280px;
  padding: 30px 40px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.logo__title h1 {
  width: 186px;
  height: 35px;
  margin-bottom: 10px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;

  color: #545454;
  letter-spacing: 0.06em;
}

.logo__subtitle p {
  margin-left: 5px;
  width: 180px;
  height: 15px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
}

.menu__list {
  display: flex;
}

.menu__link {
  margin-left: 35px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #545454;
}

.menu__link_active {
  margin-left: 35px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.menu__link:hover {
  color: #292929;
  transition: all 0.1s;
  // border-bottom: 3px solid #F1CDB3;
}