* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.container {
  max-width: 1280px;
  padding: 60px 40px;
  margin: 0 auto;
}

.container {
  background: url(assets/fonts/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.menu__list {
  display: flex;
}

.menu__link {
  padding-left: 35px;
}

.menu__link:hover {
  color: #FAFAFA;
  transition: all 0.4s;
}