* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.header {
  background: transparent;
}

.container_header {
  max-width: 1280px;
  padding: 30px 40px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.logo__title h1 {
  width: 184px;
  height: 35px;
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.05em;
}

.logo__subtitle p {
  margin-left: 5px;
  width: 179px;
  height: 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.095em;
}

.burger {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-top: 15px;
  margin-right: 1px;
}

.menu__link {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.menu__link_active {
  margin-top: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.menu__link:hover {
  color: #FAFAFA;
  transition: all 0.5s;
}

@media screen and (max-width: 1279px) {
  .container_header {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 767px) {
  .container_header {
    padding: 30px 20px;
  }
  .burger {
    display: block;
    border: none;
    background-color: transparent;
    margin-top: 10px;
  }
  .burger .line {
    border-top: 2px solid #F1CDB3;
    width: 30px;
    margin-bottom: 9px;
  }
  .menu {
    display: none;
  }
  .menu .menu__list {
    flex-direction: column;
  }
  .logo__title h1 {
    width: 186px;
    height: 35px;
    letter-spacing: 0.06em;
  }
}
.start__screen {
  background: url("../../../../assets/fonts/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.container_start {
  max-width: 1280px;
  padding: 180px 40px 0;
  margin: 0 auto;
}

.start__inner {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin: 163px 150px 0 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.subheading {
  margin: 42px 0 57px;
  color: #CDCDCD;
}

p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button__primary {
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.4s;
}

.button__primary:hover {
  background: #FDDCC4;
}

.start__img {
  margin-left: 42px;
}

@media screen and (max-width: 1279px) {
  .container_start {
    padding: 150px 100px 0;
  }
  .start__inner {
    flex-direction: column;
  }
  .start__left {
    margin: 0px 54px 100px;
  }
  .heading {
    margin: 0 150px 0 0;
  }
  .button__primary {
    margin: 0 auto;
    display: block;
    width: 208px;
  }
  .start__img {
    width: 100%;
    margin-left: 70px;
  }
  .subheading {
    margin: 42px 0;
  }
}
@media screen and (max-width: 767px) {
  .container_start {
    padding: 150px 10px 0;
  }
  .start__inner {
    flex-direction: column;
  }
  .start__left {
    margin: 0px 0 42px;
  }
  .heading {
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }
  p {
    text-align: center;
  }
  .start__img {
    width: 86.5%;
    margin-top: 63px;
    margin-left: 40px;
  }
}
.about {
  background: #FFFFFF;
}

.container_about {
  max-width: 1280px;
  padding: 80px 40px 74px;
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
}

.about__img {
  margin: 0px 120px 26px 175px;
}

.about__info {
  margin: 14px 175px 14px 0;
}

.about__info h3 {
  margin-right: 60px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__info p {
  margin: 25px 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

@media screen and (max-width: 1279px) {
  .container_about {
    padding: 80px 166px 100px 165px;
  }
  .about__wrapper {
    flex-direction: column-reverse;
  }
  .about__info {
    margin: 0 3px 0 4px;
  }
  .about__info h3 {
    margin-right: 90px;
  }
  .about__img {
    width: 68.7%;
    margin: 55px 68px 0 69px;
  }
}
@media screen and (max-width: 767px) {
  .container_about {
    padding: 42px 10px;
  }
  .about__info {
    margin: 0 auto;
  }
  .about__info h3 {
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    width: 260px;
  }
  .about__info p {
    margin: 25px 15px 22px;
    text-align: justify;
  }
  .about__img {
    width: 86.6%;
    margin: 20px 20px 0;
  }
}
.pets {
  background: #F6F6F6;
}

.container_pets {
  max-width: 1280px;
  padding: 80px 40px 117px;
  margin: 0 auto;
}

.pets__title h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.pets__cards_container {
  margin: 60px 0 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.two {
  margin: 0 40px 0 40px;
}

.pets__button_left {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url("../../../../assets/icons/arrow.svg") 50% no-repeat;
  padding: 26px;
}

.pets__button_left:hover {
  background-color: #FDDCC4;
  transition: 0.5s;
}

.pets__button_rigth {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: url("../../../../assets/icons/arrow.svg") 50% no-repeat;
  transform: rotate(180deg);
  padding: 26px;
}

.pets__button_rigth:hover {
  background-color: #FDDCC4;
  transition: 0.5s;
}

.pets__cards_item {
  width: 270px;
  height: 435px;
  gap: 90px;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.6s;
}

.name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 28px 0;
  color: #545454;
}

.pets__button_card {
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  margin-left: 41.5px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.5s;
  cursor: pointer;
}

.pets__cards_item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__cards_item:hover :nth-child(3) {
  background: #FDDCC4;
  transition: all 0.5s;
}

.cards__button a {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  margin-left: 470px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.5s;
}

.cards__button a:hover {
  background: #FDDCC4;
  transition: all 0.5s;
}

@media screen and (max-width: 1279px) {
  .container_pets {
    padding: 80px 30px 117px;
  }
  .three {
    display: none;
  }
  .two {
    margin: 0 0 0 28px;
  }
  .cards__button a {
    margin-left: 224px;
  }
}
@media screen and (max-width: 767px) {
  .container_pets {
    padding: 42px 10px 57px;
  }
  .pets__title h3 {
    font-size: 25px;
  }
  .pets__cards_container {
    margin: 42px 15px 57px;
    width: 270px;
    flex-wrap: wrap;
    align-items: center;
  }
  .pets__cards_item {
    order: -1;
  }
  .pets__button_left {
    margin: 0 auto;
  }
  .pets__button_rigth {
    margin: 0 auto;
  }
  .two {
    display: none;
  }
  .cards__button a {
    margin: 0 auto;
    margin-left: 20px;
  }
}
.help {
  background: #FFFFFF;
}

.container_help {
  max-width: 1280px;
  padding: 80px 40px 100px;
  margin: 0 auto;
}

.help__title h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__shelter {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  column-gap: 120px;
  row-gap: 50px;
}

.help__icons {
  text-align: center;
  cursor: pointer;
}

.help__icons:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.help__icons_text h4 {
  margin: 30px auto 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media screen and (max-width: 1279px) {
  .help__shelter {
    column-gap: 60px;
    row-gap: 55px;
  }
  .help__icons {
    width: 170px;
    height: 113px;
  }
}
@media screen and (max-width: 767px) {
  .container_help {
    padding: 42px 0 0;
  }
  .help__title h3 {
    font-size: 25px;
  }
  .help__shelter {
    margin: 42px auto 12px auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 0px;
    row-gap: 0px;
  }
  .help__icons {
    width: 130px;
    height: 87px;
    margin: 0 15px 30px 15px;
  }
  .help__icons_text h4 {
    margin: 20px auto 0 auto;
    font-size: 15px;
  }
  .help__icons_img img {
    width: 39%;
  }
}
.donation {
  background: #F6F6F6;
}

.container_donation {
  max-width: 1280px;
  padding: 80px 182px 100px;
  margin: 0 auto;
}

.donation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation__img {
  margin: 11px 30px 10px 0;
}

.donation__content h3 {
  margin-bottom: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__content h5 {
  margin-bottom: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__card {
  width: 349px;
  margin-bottom: 20px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
}

.donation__card:hover {
  background-color: #FDDCC4;
  cursor: pointer;
  transition: 0.5s;
}

.donation__card a {
  margin-left: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__content p {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  text-shadow: none;
}

@media screen and (max-width: 1279px) {
  .container_donation {
    padding: 80px 194px 100px;
  }
  .donation__wrapper {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
  .donation__img {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .donation__wrapper {
    row-gap: 42px;
  }
  .container_donation {
    padding: 42px 10px;
  }
  .donation__img img {
    width: 87%;
  }
  .donation__content h3 {
    font-size: 25px;
    text-align: center;
  }
  .donation__content h5 {
    margin-bottom: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0em;
  }
  .donation__card {
    width: 281px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .donation__card a {
    margin-left: 11px;
    font-size: 15px;
  }
  .donation__content p {
    text-align: justify;
    margin: 0 10px;
  }
  .donation__img img {
    margin-left: 20px;
  }
}
.footer {
  background: url("../../../../assets/fonts/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container_footer {
  max-width: 1280px;
  padding: 40px 40px 0;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  column-gap: 160px;
  flex-wrap: wrap;
}

.footer__wrapper h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__wrapper h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__wrapper a {
  color: #F1CDB3;
}

.footer__contacts h3 {
  width: 279px;
  margin: 16px 0 40px;
}

.footer__locations h3 {
  width: 301px;
  margin: 16px 0 34px;
}

.contacts_email {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts_email a:hover {
  color: #FFFFFF;
  transition: all 0.4s;
}

.contacts_phone {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts_phone a:hover {
  color: #FFFFFF;
  transition: all 0.4s;
}

.locations_address {
  margin-bottom: 33px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.locations_address h4 {
  width: 259px;
}

.locations_address a:hover {
  color: #FFFFFF;
  transition: all 0.4s;
}

@media screen and (max-width: 1279px) {
  .container_footer {
    max-width: 768px;
    padding: 30px 64px 0;
  }
  .footer__wrapper {
    justify-content: center;
    column-gap: 60px;
    row-gap: 32px;
  }
  .footer__contacts h3 {
    width: 279px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .contacts_email {
    margin-bottom: 41px;
  }
  .footer__locations h3 {
    width: 301px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .container_footer {
    padding: 30px 10px 0;
  }
  .footer__wrapper {
    row-gap: 1px;
  }
  .footer__wrapper h3 {
    font-size: 25px;
    text-align: center;
  }
  .footer__contacts {
    margin: 0 11px 40px;
  }
  .contacts_email {
    margin-bottom: 41px;
    margin-left: 13px;
  }
  .contacts_phone {
    margin-left: 18px;
  }
  .footer__locations h3 {
    margin: 0 15px 40px;
  }
  .locations_address {
    margin-bottom: 40px;
  }
  .footer_img {
    width: 86.7%;
  }
}