* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.header {
  background: #FFFFFF;
}

.container_header {
  max-width: 1280px;
  padding: 30px 40px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.logo__title h1 {
  width: 186px;
  height: 35px;
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
}

.logo__subtitle p {
  margin-left: 5px;
  width: 180px;
  height: 15px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
}

.menu__list {
  display: flex;
}

.menu__link {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.menu__link_active {
  margin-left: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.menu__link:hover {
  color: #292929;
  transition: all 0.1s;
  border-bottom: 3px solid #F1CDB3;
}

.pets {
  background: #F6F6F6;
}

.container_pets {
  max-width: 1280px;
  padding: 200px 40px 100px;
  margin: 0 auto;
}

.pets__title h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.pets__cards_container {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

.pets__cards_item {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.6s;
}

.name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 30px 0;
  color: #545454;
}

.pets__button_card {
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  margin-left: 41.5px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.5s;
  cursor: pointer;
}

.pets__cards_item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.5s;
}

.pets__cards_item:hover :nth-child(3) {
  background: #FDDCC4;
  transition: all 0.5s;
}

.cards__button {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

button:disabled, button[disabled] {
  border: 2px solid #CDCDCD;
  cursor: default;
}

.pets__button_min {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin: 0 20px;
}

.pets__button_left {
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}

.pets__button_center {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin: 0 20px;
}

.pets__button_center:hover {
  background: #F1CDB3;
  transition: all 0.5s;
}

.pets__button_rigth {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transform: rotate(180deg);
  width: 52px;
  height: 52px;
}

.pets__button_rigth:hover {
  background: #F1CDB3;
  transition: all 0.5s;
}

.pets__button_max {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transform: rotate(180deg);
  width: 52px;
  height: 52px;
  margin: 0 20px;
}

.pets__button_max:hover {
  background: #F1CDB3;
  transition: all 0.5s;
}

.footer {
  background: url("../../../../assets/fonts/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.container_footer {
  max-width: 1280px;
  padding: 40px 40px 0;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  column-gap: 160px;
  flex-wrap: wrap;
}

.footer__wrapper h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__wrapper h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__wrapper a {
  color: #F1CDB3;
}

.footer__contacts h3 {
  margin: 16px 0 40px;
}

.footer__locations h3 {
  margin: 16px 0 31px;
}

.contacts_email {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts_email a:hover {
  color: #FFFFFF;
  transition: all 0.5s;
}

.contacts_phone {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts_phone a:hover {
  color: #FFFFFF;
  transition: all 0.5s;
}

.locations_address {
  margin-bottom: 33px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.locations_address h4 {
  width: 259px;
}

.locations_address a:hover {
  color: #FFFFFF;
  transition: all 0.5s;
}