.about {
  background: #FFFFFF;
}

.container_about {
  max-width: 1280px;
  padding: 80px 40px 74px;
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
}

.about__img {
  margin: 0px 120px 26px 175px;
}

.about__info {
  margin: 14px 175px 14px 0;
}

.about__info h3 {
  margin-right: 60px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__info p {
  margin: 25px 0;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}
