.header {
  background: transparent;
}

.container_header {
  max-width: 1280px;
  padding: 30px 40px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.logo__title h1 {
  width: 184px;
  height: 35px;
  margin-bottom: 10px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.05em;
}

.logo__subtitle p {
  margin-left: 5px;
  width: 179px;
  height: 15px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.095em;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-top: 15px;
  margin-right: 1px;
}

.menu__link {
  margin-left: 35px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #CDCDCD;
}

.menu__link_active {
  margin-top: 10px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.menu__link:hover {
  color: #FAFAFA;
  transition: all 0.5s;
  // border-bottom: 3px solid #F1CDB3;
}

          // for tablet

@media screen and (max-width: 1279px) {
  .container_header {
    padding: 30px 30px;
  }
}