.header {
  background: transparent;
}

.container_header {
  max-width: 1280px;
  padding: 30px 40px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo:hover {
  cursor: pointer;
  filter: invert(50%);
  transition: all 0.4s;
}

.logo__title h1 {
  width: 184px;
  height: 35px;
  margin-bottom: 10px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.05em;
}

.logo__subtitle p {
  margin-left: 5px;
  width: 179px;
  height: 15px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.095em;
}

.burger {
  display: none;
}

.menu__list {
  display: flex;
}
.menu__item {
  margin-top: 15px;
  margin-right: 1px;
}

.menu__link {
  margin-left: 35px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #CDCDCD;
}

.menu__link_active {
  margin-top: 10px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.menu__link:hover {
  color: #FAFAFA;
  transition: all 0.5s;
}

          // for tablet

@media screen and (max-width: 1279px) {
  .container_header {
    padding: 30px 30px;
  }
}

          // for mobile

@media screen and (max-width: 767px) {
  .container_header {
    padding: 30px 20px;
  }

  .burger {
    display: block;
    border: none;
    background-color: transparent;
    margin-top: 20px;
    transition: .3s all linear;
    z-index: 4;
  }
  
  .burger .line {
    border-top: 2px solid #F1CDB3;
    width: 30px; 
    margin-bottom: 9px;
    transition: .3s all linear;
  }

  .burger.opened .line_first {
    transform: rotate(-90deg);
    position: absolute;
    left: 87%;
    top: 50%;
}

  .burger.opened .line_second {
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    left: 84%;
}

  .burger.opened .line_third {
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 81%;
}

  .menu {
    position: absolute;
    top: 0;
    right: -100%;
  }

  .menu.active {
    top: 0;
    right: 0;
    height: 823px;
    width: 320px;
    background: #292929;
    transition: all 0.3s;
    z-index: 1;
    text-align: center;
    transition: .3s all;
  }

  .menu .menu__list {
    flex-direction: column;
  }

  .menu__list {
    margin-top: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  .logo__title h1 {
    width: 186px;
    height: 35px;
    letter-spacing: 0.06em;
  }

  .menu__link {
    margin-left: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }

  .menu__item {
    margin-bottom: 40px;
    margin-top: 0;
    margin-right: 0;
  }

  .menu__item a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }


  
}